---
import Layout from "../layouts/Layout.astro"
import "../styles/about.css"
---

<Layout>
    <body>     
        <div class="old-school-box">
            <h1>
                -- About Me --
            </h1>
            <h2>
                Hello! You've reached Eising.net, the personal website of Shane Eising: Developer, Writer, and Musician!
            </h2>
            <p>
                In addition to working as a Software Analyst full-time, I'm an aspiring musical theatre composer / lyricist / playwright, as well as a (technically commissioned) writer of murder-mystery dinners. I've also been known to write the rare poem, and when distracted enough will compose music in other genres/forms/mediums (video game scoring, songwriting, and a one-off attempt at modern classical chamber music). Check out the Portfolio page for a taste of all that!
            </p>
            <p>
                
            </p>
        </div>
    </body>
</Layout>