---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="flex flex-col items-center px-4 pb-12 pt-8">
    <div class="mt-5 w-full max-w-3xl border-[20px] border-double border-[#2802fc] bg-[#9036c1] p-5 shadow-md">
      <h1 class="pb-4 text-center font-mono text-[24pt] text-white">-- About Me --</h1>
      <h2 class="pb-5 text-center font-display text-[16pt] text-white">
        Hello! You've reached Eising.net, the personal website of Shane Eising: Developer, Writer, and Musician!
      </h2>
      <p class="p-1 text-left text-[14pt] text-white">
        <p>In addition to working as a Software Analyst full-time, I'm an aspiring musical theatre composer / lyricist / playwright, as well as a (technically commissioned) writer of murder-mystery dinners.</p>
        <p>I've also been known to write the occasional poem, and when distracted enough will compose music in other genres/forms/mediums (video game scoring, songwriting, and a one-off attempt at modern classical chamber music). Check out the Portfolio page for a taste of all that!</p>
      </p>
    </div>
  </section>
</Layout>
