---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="marquee-container">
    <div class="marquee-content">
      !! WELCOME TO EISING.NET !!&nbsp;&nbsp;&nbsp;&nbsp;YOUR ONE-STOP DESTINATION FOR ALL THINGS "EISING" (SPECIFICALLY SHANE)
    </div>
  </div>
  <div style={{textAlign: "center", position: "relative"}}>
    <div style={{textAlign: "center", position: "relative"}}>
      <img src="../assets/construction.gif" width="200px" height="200px" style={{display: "inline-block"}}/>
      <h2 style={{textAlign: "center", color: "white"}}>NOW UNDER CONSTRUCTION</h2>
    </div>
  </div>
</Layout>
