---
import Layout from "../layouts/Layout.astro";
import PortfolioFolders from "../components/PortfolioFolders.astro";
import { portfolioCategories as categories } from "../data/portfolio";
---

<Layout>
    <section class="page-shell">
        <h1 class="page-title">-- Portfolio --</h1>
        <p class="body-copy mb-4">
            A rotating sampler platter of the creative work I dig into when I'm
            not tinkering with code. These highlights span theatre, music, and
            playful interactive experiments. Tap a panel to open its retro media
            bay.
        </p>
        <PortfolioFolders categories={categories} />
    </section>
</Layout>
