---
import Layout from "../layouts/Layout.astro";
import PortfolioFolders from "../components/PortfolioFolders.astro";
import { portfolioCategories as categories } from "../data/portfolio";
---

<Layout>
    <section class="page-shell">
        <h1 class="page-title">-- Portfolio --</h1>
        <p class="body-copy mb-4">
            A compendium of my creative work. These highlights span theatre,
            music, and games.
        </p>
        <PortfolioFolders categories={categories} />
    </section>
</Layout>
